**/.terraform/*
**/.terraform*
*.tfstate
*.tfstate.*
crash.log
.terraform/
.terraform.tfstate.lock.info
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
README.md
eks/.infracost
eks/backend-eks.tf
eks/variables.tf
eks/remote-net.tf
net/.infracost
net/backend-eks.tf
net/variables.tf